{% load i18n static %}<!DOCTYPE html>
<html lang="en" class="notranslate" translate="no">
    <head>
        <meta charset="UTF-8"/>
        <meta name="google" content="notranslate" />
        <!-- for responsive webpages -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="pid controller tuning tool" />
        <link rel="shortcut icon" type="image/png" href="{% static 'pidtuningtool/img/card_ri.png' %}"/>

        <!-- Poppins fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{% static '/pidtuningtool/css/tool_style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/pidtuningtool/css/main_style.css' %}" />

        {% block header %}{% endblock %}
    <title>PI/PID Tunning Tool</title>
  </head>
  <body>

    <div class="content">
        <div class="main_title">
            <h2>PI/PID Tunning Tool</h2><br>
        </div>
        <div class="main">
            {% block content %}{% endblock %}
        </div>
    </div>

 </body>
 <footer>
     {% block footer %}
     {% endblock %}
     <script type="module">
      const model_id="{{ model_id }}";
      globalThis.getModelId = () => model_id;
     </script>
     <script src="{% static 'pidtuningtool/js/main_style.bundle.js' %}"></script>
 </footer>
</html>
