{% load i18n static %}<!DOCTYPE html>
<html lang="en" class="notranslate" translate="no">
    <head>
        <meta charset="UTF-8"/>
        <meta name="google" content="notranslate" />
        <!-- for responsive webpages -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="pid controller tuning tool" />
        <link rel="shortcut icon" type="image/png" href="{% static 'pidtuningtool/img/card_ri.png' %}"/>

        <link rel="stylesheet" type="text/css" href="{% static '/pidtuningtool/css/tool_style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/pidtuningtool/css/main_style.css' %}" />
        {% block header %}{% endblock %}
    <title>PI/PID Tunning Tool</title>
  </head>
  <body>

    <div id="box1">
    <h2>PI/PID Tunning Tool</h2><br>

    {% block content %}{% endblock %}

  </div>
 </body>
 <footer>
     {% block footer %}
     {% endblock %}
     <script src="{% static 'pidtuningtool/js/main_style.bundle.js' %}"></script>
 </footer>
</html>
