{% extends "./base.html" %}
{% load i18n static %}

{% block header %}
<!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
     <script src="{% static 'pidtuningtool/js/mathjax.bundle.js' %}" id="MathJax-script" async></script> -->
{% endblock %}

{% block content %}
<div class="model_as_input_box">
    <div class="mi_left_column">
        <div class="row justify-content-center m-2">
            <img src="{% static 'pidtuningtool/img/card_mi.svg' %}" style="padding: 8px; height: 8rem;" class="card-img-top" alt="fractional order model example">
        </div>

        <form action="{% url 'pidtuningtool_post_mi' %}" method="post" target="_blank">
            {% csrf_token %}

            <div class="input_box">
                <div class="form-group frac_input_item">
	                  <label for="in_frac" class="col-sm-2 col-form-label fract_input_label">Fractional order (α):</label>
                    <input type="number" class="form-control fract_input" name="in_frac" value=1 step=0.001 min=1 max=1.8 id="in_frac"/>
	              </div>

                <div class="form-group frac_input_item">
	                  <label for="in_time" class="col-sm-2 col-form-label fract_input_label">Time constant (T):</label>
                    <input type="number" class="form-control fract_input" name="in_time" value=1 step=0.001 min=0.001 id="in_time"/>
	              </div>

                <div class="form-group frac_input_item">
	                  <label for="in_prop" class="col-sm-2 col-form-label fract_input_label">Proportional constant (K):</label>
                    <input type="number" class="form-control fract_input" name="in_prop" value=1 step=0.001 min=0.001 id="in_prop"/>
	              </div>

                <div class="form-group frac_input_item">
	                  <label for="in_dtime" class="col-sm-2 col-form-label fract_input_label">Dead time constant (L):</label>
                    <input type="number" class="form-control fract_input" name="in_dtime" value=1 step=0.001 min=0.001 id="in_dtime"/>
                </div>
                <div id="err_banner" class="alert alert-danger d-flex align-items-center d-none" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>Error message</div>
                </div>
            </div>
        </form>

    </div>
    <div class="step_response">
        <div id="step_response_graph"></div>
    </div>
</div>
<div class="mi_buttons w-100">
    <button class="btn btn-success" id="submit_button">Compute</button>
    <a href="#" id="show_results_btn" class="btn btn-success btn_refresh_plant_response">Tuning results</a>
</div>

{% endblock %}

    {% block footer %}
    <script src="{% static 'pidtuningtool/js/model_as_input.bundle.js' %}"></script>
    {% endblock %}
