{% extends "./base.html" %}
{% load i18n static %}

{% block header %}
{% endblock %}


{% block content %}
<div class="category_title">
    <h3>Select an input method</h3>
</div>

{# TODO Cards for every method, an image and a bref description the method does, continue button #}

<div class="card-container">
    <a href="{% url 'pidtuningtool_mi' 'fractional' %}" class="card">
        <img src="{% static 'pidtuningtool/img/card_mi.svg' %}" alt="Frac order model input" style="background-color:white;">
        <div class="card-content">
            <h3>Fractional order model</h3>
            <p>Give the model parameters for the plant on which, then the tool will calculate properly constants for the controller.</p>
        </div>
    </a>

    <a href="{% url 'pidtuningtool_ri' 'fractional' %}" class="card">
        <img src="{% static 'pidtuningtool/img/card_ri.png' %}" alt="Frac order response input">
        <div class="card-content">
            <h3>Plant open-loop response</h3>
            <p>Select a text file with the time, step and plant response vectors in it then the tool will approach a proper model.</p>
        </div>
    </a>

    <a href="{% url 'pidtuningtool_mi' 'alfaro123c_first_order' %}#" class="card">
        <img src="" alt="alfaro123c model input">
        <div class="card-content">
            <h3>Alfaro123c first order model parameters</h3>
            <p>TODO</p>
        </div>
    </a>

    <a href="{% url 'pidtuningtool_ri' 'alfaro123c_first_order' %}" class="card">
        <img src="" alt="alfaro123c response input">
        <div class="card-content">
            <h3>Alfaro123c first order plant open-loop response</h3>
            <p>TODO</p>
        </div>
    </a>

    <a href="{% url 'pidtuningtool_mi' 'alfaro123c_second_order' %}#" class="card">
        <img src="" alt="alfaro123c model input">
        <div class="card-content">
            <h3>Alfaro123c second order model parameters</h3>
            <p>TODO</p>
        </div>
    </a>

    <a href="{% url 'pidtuningtool_mi' 'alfaro123c_second_order' %}#" class="card">
        <img src="" alt="alfaro123c response input">
        <div class="card-content">
            <h3>Alfaro123c second order plant open-loop response</h3>
            <p>TODO</p>
        </div>
    </a>

    <a href="{% url 'pidtuningtool_mi' 'alfaro123c_overdamped' %}#" class="card">
        <img src="" alt="alfaro123c model input">
        <div class="card-content">
            <h3>Alfaro123c overdamped model parameters</h3>
            <p>TODO</p>
        </div>
    </a>

    <a href="{% url 'pidtuningtool_mi' 'alfaro123c_overdamped' %}#" class="card">
        <img src="" alt="alfaro123c response input">
        <div class="card-content">
            <h3>Alfaro123c overdamped plant open-loop response</h3>
            <p>TODO</p>
        </div>
    </a>

</div> {# END CARDS CONTAINER#}
{% endblock %}


{% block footer %}
{% endblock %}
