{% extends "./base.html" %}
{% load i18n static %}

{% block header %}
{% endblock %}


{% block content %}
<div id="step_response_graph"></div>
<form action="{% url 'pidtuningtool_post_ri' %}" method="post" target="_blank">
    {% csrf_token %}
    <div class="mb-3">
        <label for="textcontent" class="form-label">Paste your step response here:</label>
        <textarea class="form-control" name="textcontent" id="textcontent" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="formFile" class="form-label">Upload file with step response, columms order: time, step signal and plant response signal</label>
        <input class="form-control" type="file" id="in_file" accept=".txt, text/csv, text/tsv"></input>
    </div>

    <button class="btn btn-secondary" id="clear_button">Clear</button>
  <button class="btn btn-secondary" type="submit" id="submit_button">Compute</button>
</form>
<a id="continue" disabled="">Continue to results</a>
<div id="err_banner" class="alert alert-danger d-flex align-items-center d-none" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>Error message</div>
</div>
{% endblock %}


{% block footer %}
<!-- show the plant response when a step signal is applied -->
<script src="{% static 'pidtuningtool/js/response_as_input.bundle.js' %}"></script>
{% endblock %}
