
node_modules/
*~
*$py.class
*.ap_
*.apk
bin/
build/
.cache
captures/
celerybeat.pid
celerybeat-schedule
*.class
*.cover
.coverage
.coverage.*
coverage.xml
db.sqlite3
db.sqlite3-journal
develop-eggs/
*.dex
dist/
.dmypy.json
dmypy.json
docs/_build/
downloads/
*.egg
*.egg-info/
.eggs/
eggs/
.env
env/
ENV/
env.bak/
.externalNativeBuild
fastlane/Preview.html
fastlane/readme.md
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
freeline/
freeline_project_description.json
freeline.py
gen/
google-services.json
.gradle/
htmlcov/
.hypothesis/
.idea/assetWizardSettings.xml
.idea/caches
.idea/dictionaries
.idea/gradle.xml
.idea/libraries
.idea/tasks.xml
.idea/workspace.xml
*.iml
.installed.cfg
instance/
.ipynb_checkpoints
ipython_config.py
lib/
lib64/
local.properties
local_settings.py
*.log
*.manifest
MANIFEST
*.mo
.mypy_cache/
.navigation/
nosetests.xml
.nox/
out/
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
*.pot
profile_default/
proguard/
__pycache__
__pycache__/
*.py[cod]
*.py,cover
__pypackages__/
.pyre/
.pytest_cache/
.Python
.python-version
.ropeproject
*.sage.py
.scrapy
sdist/
share/python-wheels/
/site
*.slxc
*.so
*.spec
.spyderproject
.spyproject
src/identool/lib/slprj/
target/
.tox/
var/
.venv
venv/
venv.bak/
.webassets-cache
wheels/
