
@media only screen and (orientation: portrait) {
    html {
	-moz-transform:rotate(-90deg);
        -webkit-transform:rotate(-90deg);
        -ms-transform:rotate(-90deg);
	-o-transform: rotate(90deg); 
	transform: rotate(-90deg);
	transform-origin: left top;
	width: 100vh;
	overflow-x: hidden;
	position: absolute;
	top: 100%;
	left: 0;
    }
}

body
{
    padding: 15px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg,
				rgba(2,0,36,1) 0%,
				rgba(9,9,121,1) 22%,
				rgba(255,0,166,1) 100%);
    background-attachment: fixed;
}

h1
{
    color: maroon;
}

h2
{
    color: maroon;
}

#box1
{    
    position: static;
    top: 20px;
    bottom: 20px;
    right: 20%;
    left: 20%;

    // Opacity setted with RGBA:
	//background: rgba(255,255,255,0.7);
    background: rgb(255,255,255,0.8);
    //opacity: 0.7;
    text-align: center;
}

#textcontent
{
    background: white;
    opacity: 1.0;
    width: 80%;
    height: 30%;
    text-align: center;
}


label
{
    display: inline-block;
    width: 190px;
    text-align: right;
}

form {
    position:static;
    top: 30px;
    bottom: 30px;
    left: 20px;
    right: 20px;
    
    padding: 20px;
    border: 4px solid #CCC;
}

form div + div {
    margin-top: 20px;
}

resultsbox
{
    position: static;
    display: flex;
    justify-content: center;
    //top: 15px;
    //bottom: 15px;
    //right: 15px;
    //left: 15px;
    min-height: 90%;
    //background: rgb(255,255,255,0.8);
}

parameters
{
    text-align: left; 
    display: inline-block;
    background: rgb(255,255,255,0.8);
    font-family: monospace;
    color: black;
    min-height: 600px;
}

parameters > div
{
    margin: 30px;
}

images_tag
{
    display: inline-block;
    justify-content: center;
    text-align: center;
    background: white;
    min-width: 75%;
    //min-height: 90%;
}

img
{
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

#response_graph
{
    //margin-top: 15px;
    border: 0;
    min-height: 90%;
    min-width: 100%;
}

#keyboard
{
    justify-content: center;  
    screen: flex-row;
    //padding: 5px;
    //background: aqua;
}

.result_button
{
    margin-right: 10px;
    margin-left: 10px;
    //border: 11px solid white;
}

button
{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover
{
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.number_space
{
    margin: 5px;
    //background: rgb(255, 82, 197);
    background: #662737;
    border-radius: 0px 54px 54px 54px;
    -moz-border-radius: 0px 54px 54px 54px;
    -webkit-border-radius: 0px 54px 54px 54px;
    //border: 1px dotted #000000;
    //-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    //-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    //box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
}

#model_params > div > label
{
    text-indent: 10px;
    text-align: left;
    color: white;
    font-weight: bold;
}

#controllers_params > div > label
{
    text-indent: 10px;
    text-align: left;
    color: white;
    font-weight: bold;
}

number_label
{
    color: white;
    margin: 5px;
    background: #8a344a;
    border-radius: 31px 31px 31px 31px;
    -moz-border-radius: 31px 31px 31px 31px;
    -webkit-border-radius: 31px 31px 31px 31px;
    //border: 0px solid #000000;
    text-align: center;
}

#result_web_pag
{
    width: 100%;
    height: 100%;
}
