body
{
    display: flex;
    flex-direction: column;
    padding: 18px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg,
				rgba(2,0,36,1) 0%,
				rgba(9,9,121,1) 22%,
				rgba(255,0,166,1) 100%);
    background-attachment: fixed;
}

.content
{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    border-radius: 10px;
	  background: rgba(255,255,255,0.85);
}

.main_title {
    padding: 4px 4px;
    color: maroon;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category_title{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.tune_methods {
    margin: 10px 10px;
}

.tune_method { /* a single card */
    margin: 10px 10px;
}

.fract_input_label{
    min-width: 14rem;
}

.fract_input{
}

.frac_input_item{
}

form{
    display: flex;
    justify-content: center;
}

.input_box {
    display: flex;
    flex-direction: column;
    max-width: 260px;
}

.model_as_input_box {
    display: flex;
    flex-direction: row;
}


@media only screen and (max-width: 600px) {
    .model_as_input_box {
        display: flex;
        flex-direction: column;
    }
}

.step_response {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
    width: 100%;
}

.step_response_graph {
    /*TODO*/
}

.btn_refresh_plant_response{
    width: 224.667px;
}

tbtn{
    margin: 3px 3px;
}

.number_space
{
    margin: 5px;
    //background: rgb(255, 82, 197);
    background: #662737;
    border-radius: 0px 54px 54px 54px;
    -moz-border-radius: 0px 54px 54px 54px;
    -webkit-border-radius: 0px 54px 54px 54px;
    //border: 1px dotted #000000;
    //-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    //-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    //box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
}

#model_params > div > label
{
    text-indent: 10px;
    text-align: left;
    color: white;
    font-weight: bold;
}

#controllers_params > div > label
{
    text-indent: 10px;
    text-align: left;
    color: white;
    font-weight: bold;
}

number_label
{
    color: white;
    margin: 5px;
    background: #8a344a;
    border-radius: 31px 31px 31px 31px;
    -moz-border-radius: 31px 31px 31px 31px;
    -webkit-border-radius: 31px 31px 31px 31px;
    //border: 0px solid #000000;
    text-align: center;
}

