body
{
    padding: 18px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg,
				rgba(2,0,36,1) 0%,
				rgba(9,9,121,1) 22%,
				rgba(255,0,166,1) 100%);
    background-attachment: fixed;
}

h1
{
    color: maroon;
}

h2
{
    color: maroon;
}

#box1
{
    text-align: center;
	  background: rgba(255,255,255,0.85);
}


tbtn{
    margin: 3px 3px;
}

.number_space
{
    margin: 5px;
    //background: rgb(255, 82, 197);
    background: #662737;
    border-radius: 0px 54px 54px 54px;
    -moz-border-radius: 0px 54px 54px 54px;
    -webkit-border-radius: 0px 54px 54px 54px;
    //border: 1px dotted #000000;
    //-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    //-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    //box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
}

#model_params > div > label
{
    text-indent: 10px;
    text-align: left;
    color: white;
    font-weight: bold;
}

#controllers_params > div > label
{
    text-indent: 10px;
    text-align: left;
    color: white;
    font-weight: bold;
}

number_label
{
    color: white;
    margin: 5px;
    background: #8a344a;
    border-radius: 31px 31px 31px 31px;
    -moz-border-radius: 31px 31px 31px 31px;
    -webkit-border-radius: 31px 31px 31px 31px;
    //border: 0px solid #000000;
    text-align: center;
}

